* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
  }
body {
    background-color: #1f3540;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.show {
    display: flex;
}

.startup-container {
    background-color: #192a32;
    border:3px solid #f2b237;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6em;
}
.startup-container button {
    border: 2px solid #32c0ba;
    background-color: transparent;
    font-size: 1.4em;
    padding: 10px 15px;
    width: 25%;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}
.startup-container button:hover {
    opacity: 0.85;
}
.startup-container img {
    max-width: 100%;
    display: block;
    height: 20em;
}


.players-container {
    background-color: #192a32;
    border:3px solid #f2b237;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.players-container h2 {
    color:white;
    font-size: 3em;
    margin-bottom: 2em;
}
.players-container form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 30%;

}
.form-column {
    display: flex;
    font-size: 2em;
    background-color: #1f3540;
    border-radius: 10px;
    border: none;
}
.form-column input {
    width: auto;
    background-color: #1f3540;
    border: none;
    font-size: 0.8em;
    color:white;
    width: 100%;
}
.form-column input::placeholder {
    color:white;
    opacity: 0.6;
}
.form-column input:focus {
    outline: none;
}

.x-marker {
    color:#32c0ba;
    font-weight: bold;
    font-size: 1.3em;
    padding: 15px 30px;
}
.o-marker {
    color: #f2b237;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.3em;
}
.players-container button {
    border: 2px solid #32c0ba;
    font-size: 1.4em;
    margin-top: 1em;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}
.players-container button:hover {
    opacity: 0.85;
}
.game-container {
    background-color: #192a32;
    border:3px solid #f2b237;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
    height: 100vh;
    width: 100%;
    padding: 2em;
}
.game-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.game-logo-container {
    position: relative;
    width: 6em;
}
.game-logo-container img {
    position: absolute;
    right: 0em;
    bottom: 4em;
}
.player-turn {
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #1f3540;
    color: white;
    width: 30%;
    height: 3em;
    margin-top: 0.5em;
    font-size: 1.7em;
}
#clear-button, #exit-button {
    height: 5.5em;
    width: 5.5em;
    padding: 0.8em;
    margin-top: 1em;
    border-radius: 15px;
    border: 2px solid #f2b237;
    background-color: transparent;
    cursor: pointer;
}
#clear-button img, #exit-button img {
    filter: invert(1);
}
#clear-button:hover, #exit-button:hover {
    opacity: 0.85;
}

.scoreboard {
    background-color: #1f3540;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 1.5em;
    width: 14em;
    border-radius: 15px;
    margin: 0 auto;
    position: absolute; 
    top: 60%;
    left: 6%;
    transform: translateY(-60%); 
}
.scoreboard-player1-win {
    background-color: #32c0ba;
}
.scoreboard-tie {
    background-color: white;
}
.scoreboard-player2-win {
    background-color: #f2b237;
}
.scoreboard-player1-win, .scoreboard-tie, .scoreboard-player2-win{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    color:#192a32;
    border-radius: 15px;
}
.player1-score, .player2-score, .tie-score {
    font-size: 1.7em;
    font-weight: bold;
    color:#192a32;
}

.game-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.3em;
}
.cell {
  background-color: #1f3540;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  width: 1.7em;
  height: 1.7em;
  font-weight: bold;
}
.cell:hover {
    background-color: #2e4f5f;
    cursor: pointer;
}
.game-container-footer {
    display: flex;
    justify-content: center;
    color:white;
}
.game-container-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.game-container h3 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.game-container-footer a:visited {
    color: white;
}
.game-container-footer a:hover {  
    filter: brightness(0) saturate(100%) invert(90%) sepia(81%) saturate(6635%) hue-rotate(132deg) brightness(77%) contrast(87%);
}
.github-icon {
    width: 2em;
    filter: invert(1);
    margin-left: 5px;
}

.overlay {
    position:absolute;
    top:60%;
    left:50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding: 6em 0;
    transform:translate(-50%, -50%);
    background-color: #000000;
    width: 40em;
    height: 20em;
    border-radius: 10px;
    border: 2px solid #f2b237;
    background-color: #192a32;
    z-index: 1000;
}
.player-win-screen {
    background-color: #1f3540;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    font-size: 3em;
}
.final-overlay button, .exit-overlay button {
    font-size: 1.4em;
    padding: 10px 15px;
    width: 8em;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #32c0ba;
    border-radius: 30px;
    cursor: pointer;
}
.final-overlay button:hover {
    opacity: 0.85;
}

.final-win-screen {
    background-color: #1f3540;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.4em;
    height: 4em;
    font-size: 3em;
}
.win-screen-buttons {
    display:flex;
    gap: 3em;
}
.final-overlay, .exit-overlay {
    display: none;
    position:absolute;
    top:60%;
    left:50%;
    flex-direction: column;
    align-items: center;
    gap: 1.7em;
    padding: 6em 0;
    transform:translate(-50%, -50%);
    background-color: #000000;
    width: 40em;
    height: 20em;
    border-radius: 10px;
    border: 2px solid #f2b237;
    background-color: #192a32;
    z-index: 1000;
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: white
}
.x-marker, .x-player-turn {
    color: #32c0ba;
}
.o-marker, .o-player-turn{
    color: #f2b237;
}
