* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
  }
body {
    background-color: #1f3540;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.startup-container {
    background-color: #192a32;
    border:3px solid #f2b237;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6em;
}
.startup-container button {
    background-color: #32c0ba;
    font-size: 1.4em;
    padding: 10px 15px;
    width: 40%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.startup-container button:hover {
    opacity: 0.85;
}
.startup-container img {
    max-width: 100%;
    display: block;
    height: 20em;
}


.players-container {
    background-color: #192a32;
    border:3px solid #f2b237;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.players-container h2 {
    color:white;
    font-size: 3em;
    margin-bottom: 2em;
}
.players-container form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 30%;

}
.form-column {
    display: flex;
    font-size: 2em;
    background-color: #1f3540;
    border-radius: 10px;
    border: none;
}
.form-column input {
    width: auto;
    background-color: #1f3540;
    border: none;
    font-size: 0.8em;
    color:white;
    width: 100%;
}
.form-column input::placeholder {
    color:white;
    opacity: 0.6;
}
.form-column input:focus {
    outline: none;
}

.x-marker {
    color:#32c0ba;
    font-weight: bold;
    font-size: 1.3em;
    padding: 15px 30px;
}
.o-marker {
    color: #f2b237;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.3em;
}
.players-container button {
    background-color: #32c0ba;
    font-size: 1.4em;
    margin-top: 1em;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.players-container button:hover {
    opacity: 0.85;
}
.game-container {
    background-color: #192a32;
    border:3px solid #f2b237;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
    height: 100vh;
    width: 100%;
    padding: 1.5em;
}
.game-container-header {
    display: flex;
    justify-content: center;
    gap: 6em;
}
.game-logo-container {
    position: relative;
    width: 6em;
}
.game-logo-container img {
    position: absolute;
    right: 25em;
}
.player-turn {
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #1f3540;
    color: white;
    width: 30%;
    height: 3em;
    margin-top: 0.5em;
    font-size: 1.7em;
}
#clear-button {
    height: 6em;
    width: 6em;
    padding: 0.8em;
    margin-top: 1em;
    border-radius: 15px;
    cursor: pointer;
}
#clear-button:hover {
    opacity: 0.85;
}
.game-container-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.3em;
}
.cell {
  background-color: #1f3540;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  width: 1.7em;
  height: 1.7em;
  font-weight: bold;
}
.game-container-footer {
    display: flex;
    justify-content: center;
    color:white;
}
.game-container-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.game-container h3 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.game-container-footer a:visited {
    color: white;
}
.github-icon {
    width: 2em;
    filter: invert(1);
    margin-left: 5px;
}

.overlay {
    display: none;
}
